C:\Users\rizwa\OneDrive\Desktop\WebDevelopmentUpgrad\book-shelf-folder\book-shelf-project\frontend\.env
C:\Users\rizwa\OneDrive\Desktop\WebDevelopmentUpgrad\book-shelf-folder\book-shelf-project\frontend\node_modules